// - partials/navigation.jade

mixin navItem(href, item)
    li(role="menuitem")
        a(href=href, class="scroll", data-scroll-offset="40") #{item}

header#masthead(role="banner")

    nav#main-nav(role="navigation")
        a(href="/")
            img#avatar(src="_assets/img/avatar.jpg", alt="Eric Andre avatar")
        ul(role="menubar")
            +navItem('/', 'Home')
            +navItem('#about', 'About')
            +navItem('#work', 'Work')
            +navItem('#skills', 'Skills')
            +navItem('#projects', 'Projects')
            +navItem('#education', 'Education')
        button(class="mega-octicon octicon-three-bars menu-btn" value="menu")
