script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Eric Andre",
    "email": "ericandre615@gmail.com",
    "jobTitle": "Web Developer",
    "url": "http://ericandre.info",
    "image": "http://ericandre.info/_assets/img/avatar.jpg",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Nashville",
      "addressRegion": "TN"
    }
  }
