.DS_Store
*.swp
*.swo
node_modules
bower_components
npm-debug.log
/node_modules/**/node_modules

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
