extends layout

block content

  h1 #[span(class='code-var') var] me #[span(class='code-eq') =] #[span(class='code-obj') Object]&period;create(developer&period;#[span(class='code-proto') prototype], {#[span(class='code-prop') name]&colon; #[span(class='code-str') &apos;Eric Andre&apos;]})

  include ./partials/content/about.jade

  include ./partials/content/work.jade

  include ./partials/content/skills.jade

  include ./partials/content/education.jade
