/** COLOR **/
@dark: #101112;
@darkCode: #282A36;
@gitBlue: #4078c0; 
@shadowLayer1: 0px 0px 5px 1px black;


/** LAYERS **/
@zindexLayer2: 10;
@zindexLayerTop: 9999;

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul {
    list-style:none;
}
