@dejavu-font-path: "./fonts/dejavu";

@font-face {
  font-family: 'dejavu-mono';
  src: ~"url('@dejavu-font-path}/DejaVuSansMono-webfont.eot') format('embedded-opentype')",
       ~"url('@{dejavu-font-path}/DejaVuSansMono-webfont.woff') format('woff')",
       ~"url('@{dejavu-font-path}/DejaVuSansMono-webfont.ttf') format('truetype')",
       ~"url('@{dejavu-font-path}/DejaVuSansMono-webfont.svg#dejavu_sans_monobook') format('svg')";
  font-weight: normal;
  font-style: normal;
}

.dejavu-mono {
    font-family: 'dejavu-mono', 'Andale Mono', 'Courier New', 'Courier', monospace;
}

