footer[role="contentinfo"] {
  .clear;
  .dejavu-mono;
  background: @darkCode;
  padding: 1.5em;
  color: white;
  p {
    text-align: right;
    margin: 1em 0 0 0;
  }
  form {
    label {
      vertical-align: top;
      &.error{
        color: red;
      }
      &.active {
        color: @caution;
        transition: color 1.5s ease;
      }
      &.valid {
        color: @active;
        transition: color 1.5s ease;
      }
    }
    input, textarea {
      background: none;
      border: none;
      color: @codeStr;
      outline: none;
      &:focus {
        outline: none;
        border: none;
        border-bottom: 2px dashed white;
      }
    }
    button {
      border: none;
      color: @dark;
    }
  }
  #social-nav {
    text-align: right;
    margin-top: 80px;
  }
  .social {
    display: inline-block;
    a {
      text-decoration: none;
      color: white;
      font-size: 32px;
      vertical-align: top;
      margin: 0 .5em;
      &:hover, &:active {
        color: @active!important;
        .icon:before {
          color: @active;
        }
      }
    }
  }
}
