/*** LESS Grid ***/
@grid-gutter: 20px;
@grid-columns: 12;
@grid-size:;

.createGrid (@index, @grid-size) when (@index > 0) {
  .col@{grid-size}-@{index} {
    //resulting CSS
    display: inline-block;
    width: percentage((@index / @grid-columns));
    min-height: 1px;
  }

  .createGrid((@index - 1), @grid-size);
}

// end loop when index 0
.createGrid(0) {}

// "call" createGrid first time with highest value
.createGrid(@grid-columns, @grid-size);

// styles inside grid
.inside-grid {
  margin-left: (@grid-gutter / 2);
  margin-right: (@grid-gutter / 2);
}

.kill-margins {
  margin-left: 0;
  margin-right: 0;
}

.kill-margin-left {
  margin-left: 0;
}

.kill-margin-right {
  margin-right: 0;
}

/*** RESPONSIVE GRIDS ***/
@media only screen
and(min-width : 768px)
and(max-width : 960px) {
  .createGrid(@grid-columns, @grid-size: -lg);
}

@media only screen
and(max-width : 768px) {
  .createGrid(@grid-columns, @grid-size: -md);
}

@media only screen
and (max-width : 480px) {
  .createGrid(@grid-columns, @grid-size: -sm);
}

@media only screen
and (min-width: 960px) 
and (max-width: 1024px) {
  .createGrid(@grid-columns, @grid-size);
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen  
and (max-device-width : 480px) {
  .createGrid(@grid-columns, @grid-size: -sm);
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
  .createGrid(@grid-columns, @grid-size: -xs);
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  .createGrid(@grid-columns, @grid-size: -xl);
}
