#about {
  position: relative;
  overflow: hidden;
  .mega-octicon.octicon-terminal {
    cursor: pointer;
    background: none;
    border: none;
    float: right;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.86);
    color: black;
    background: white;
    &:hover {
      background: @codeVar;
    }
    &.active {
      background: @codeVar;
    }
  }
  #overflow {
    width:2400px;
  }
  #bare-about {
    display: inline-block;
    transition: all 1s ease;
  }
  #code-about {
    z-index: 11;
    display: none;
    position: relative;
    transition: all 1s ease .2s;
    &.active {
      display: inline-block!important;
      background: @backgroundInview;
      transition: all 1s ease .2s;
      top:0!important;
      right:0!important;
    }
  }
}

.skills-list {
  vertical-align: top;
  font-size: 1.25em;
  padding:0;
  li {
    padding: .5em;
  }
  .skill-bar {
    display: none;
    &.active {
      height: 1em;
      display: inline-block;
    }
  }
}

li.icon:before {
  margin-right: .75em;
  font-size:1.7em;
}

#work {
  .job {
    margin-bottom: 2.5em;
  }
  .job-title {
    color: @codeProto;
    margin-bottom: .5em;
  }
  .job-dates {
    color: @codeProp;
    font-size: .75em;
    margin-top: .2em;
    margin-bottom: .2em;
  }
  .job-location {
    font-size: .75em;
    margin-top: .2em;
  }
  .job-description {
    color: @codeStr;
  }
}

#education {
  .school-focus {
    color: @codeProto;
    margin-bottom: .5em;
  }
  .school-dates {
    color: @codeProp;
    font-size: .75em;
    margin-top: .2em;
    margin-bottom: .2em;
  }
  .school-description {
    color: @codeStr;
  }
}
#projects-list {
  vertical-align: top;
  ul {
    padding: 0;
  }
  a {
    color: @codeProp;
    text-decoration: none;
  }
}
#feed {
  background: none;
}
