.container {
  max-width:1024px;
  margin:0 auto;
}

section {
    background-color:rgb(255, 255, 255);
    transition:all 1.5s ease;
}

section.in-view {
    transition:all 1.5s ease;
    background-color:rgb(149, 178, 203);
}

header[role="banner"] {
    width:100%;
    height:300px;
    background:#eaeaea url('../img/spacesuit.svg') no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

nav[role="navigation"] {
    width:100%;
    height:40px;
    padding:12px;
    box-sizing: initial;
    background-color: @dark;
    z-index: @zindexLayerTop;
    box-shadow: @shadowLayer1;
    position: fixed;
    top:0;
    left:0;
    transition: all 1s ease;
}

nav[role="navigation"].hide-nav {
    top:-64px;
    transition: all 1s ease;
}

#avatar {
    width: 40px;
    height: auto;
}

ul[role="menubar"] {
    display:inline-block;
    list-style:none;
    position: absolute;
    top: 0;
    right: 30px;
    padding-right:12px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    width:90%;

    li {
        display:inline;
        a {
            text-decoration:none;
            color: white;
        }
    }
}

footer[role="contentinfo"] {
  background: @darkCode;
  height: 203px;
}
