// - views/partials/content/about.jade

section#about
    h2 #[span(class="me") me]&period;#[span(class="me-title") about]
    div#bare-about.code-str
      p.
        Hello World, I'm a web developer in Nashville, TN. I enjoy learning about new technologies and languages. I strive to keep up to date
        with the constantly changing world of web development. Passionate about open source, programming fundamentals, and modular, reusable code.
        I also have an ever growing interest in code and how it relates to the physical world, and linear algebra.
      p.
        While frameworks and libraries are helpful, I prefer to view things on a lower level and figure out how they actually work. Allowing me to implement
        custom solutions when the problem doesn't fit into a standard, generic box.
      p.
        I also enjoy creating art, music, and design. A lover of animation, Japanese block printing, and the Japanese language (#[span(class="code-prop") 日本語が好きです]). Currently, I have a growing love for synthesizers and electronics.
        I like taking things apart to see how they work and building new things. Also, robots!

