// - views/partials/content/education.jade

section#education
  h2 #[span(class="me") me]&period;#[span(class="me-title") education]
  h3.school-title Watkins College of Art, Design &amp; Film
  h4.school-focus Graphic Design / Web Development
  p.school-dates 2010 &mdash; 2014
  ul
    li Graphic Design I &mdash; III
    li Typography I, II
    li Web Development I &mdash; III
    li Web Development HTML5 &amp; CSS3
    li Web Development PHP, MySQL, Wordpress
    li Printmaking I, II
    li Illustration, Animation, 4D Design
