// - views/partials/content/projects.jade

mixin navItem(href, item)
    li(role="menuitem")
        a(href=href) #{item}

section#projects
  h2 #[span(class="me") me]&period;#[span(class="me-title") projects] 
  nav#nav-projects
    ul(role="menubar")
      +navItem('#phase3','Phase 3')
      +navItem('#idesign', 'iDesign')
      +navItem('#school', 'School')
