// - views/partials/content/projects.jade

section#projects
  h2 #[span(class="me") me]&period;#[span(class="me-title") projects]
  p.code-str.
    various projects

  div#projects-list.col-md-12.col-4
    ul
      li #[a(href="http://pixelbox.graphics") PixelBox ]

  include ./feed.jade
