// - views/partials/content/skills.jade

section#skills
  h2 #[span(class="me") me]&period;#[span(class="me-title") skills]
  ul.skills-list.col-4.col-md-6.col-sm-12
    li.skill.icon.icon-php(data-level="7") PHP #[span(class="skill-bar")]
    li.skill.icon.icon-javascript(data-level="8") Javascript #[span(class="skill-bar")]
    li.skill.icon.icon-jquery(data-level="6") jQuery #[span(class="skill-bar")]
    li.skill.icon.icon-nodejs(data-level="7") Node JS #[span(class="skill-bar")]
    li.skill.icon.icon-html5(data-level="9") HTML #[span(class="skill-bar")]
    li.skill.icon.icon-css3(data-level="8") CSS #[span(class="skill-bar")]
  ul.skills-list.col-4.col-md-6.col-sm-12
    li.skill.icon.icon-blackbox(data-level="8") Blackbox #[span(class="skill-bar")]
    li.skill.icon.icon-express(data-level="6") Express #[span(class="skill-bar")]
    li.skill.icon.icon-react(data-level="4") React #[span(class="skill-bar")]
    li.skill.icon.icon-angular(data-level="3") Angular JS #[span(class="skill-bar")]
    li.skill.icon.icon-javascript(data-level="4") Jaws JS #[span(class="skill-bar")]
    li.skill.icon.icon-wordpress(data-level="7") WordPress #[span(class="skill-bar")]
  ul.skills-list.col-4.col-md-6.col-sm-12
    li.skill.icon.icon-arch(data-level="8") Linux #[span(class="skill-bar")]
    li.skill.icon.icon-mac(data-level="7") Mac OS/X #[span(class="skill-bar")]
    li.skill.icon.icon-vagrant(data-level="6") Vagrant #[span(class="skill-bar")]
    li.skill.icon.icon-mariadb(data-level="5") MySQL / MariaDB #[span(class="skill-bar")]
    li.skill.icon.icon-mongodb(data-level="2") MongoDB #[span(class="skill-bar")]
    li.skill.icon.icon-vim(data-level="3") Atom / VIM #[span(class="skill-bar")]
  ul.skills-list.col-4.col-md-6.col-sm-12
    li.skill.icon.icon-chrome(data-level="6") Dev Tools #[span(class="skill-bar")]
    li.skill.icon.icon-gulp(data-level="5") Gulp #[span(class="skill-bar")]
    li.skill.icon.icon-less(data-level="5") Less #[span(class="skill-bar")]
    li.skill.icon.icon-npm(data-level="8") npm #[span(class="skill-bar")]
    li.skill.icon.icon-composer(data-level="4") Composer #[span(class="skill-bar")]
    li.skill.icon.icon-webpack(data-level="1") Webpack #[span(class="skill-bar")]
  ul.skills-list.col-4.col-md-6.col-sm-12
    li.skill.icon.icon-googlemaps(data-level="6") Google Maps #[span(class="skill-bar")]
    li.skill.icon.icon-facebook(data-level="4") Facebook #[span(class="skill-bar")]
    li.skill.icon.icon-twitter(data-level="4") Twitter #[span(class="skill-bar")]
    li.skill.icon.icon-foxycart(data-level="5") FoxyCart #[span(class="skill-bar")]
    li.skill.icon.icon-emma(data-level="3") Emma #[span(class="skill-bar")]
    li.skill.icon.icon-eventbrite(data-level="2") EventBrite #[span(class="skill-bar")]
  ul.skills-list.col-4.col-md-6.col-sm-12
    li.skill.icon.icon-cordova(data-level="4") Cordova / Phonegap #[span(class="skill-bar")]
    li.skill.icon.icon-atom(data-level="2") NodeWebkit / Electron #[span(class="skill-bar")]
