// - views/partials/content/skills.jade

section#skills
  h2 #[span(class="me") me]&period;#[span(class="me-title") skills]
  p.skills-description Say something about skills
  ul.skills-list.col-4.col-md-6.col-sm-12
    li.icon.icon-php PHP
    li.icon.icon-javascript Javascript
    li.icon.icon-nodejs Node JS
    li.icon.icon-html5 HTML
    li.icon.icon-css3 CSS
  ul.skills-list.col-4.col-md-6.col-sm-12
    li.icon.icon-blackbox Blackbox (custom)
    li.icon.icon-express Express
    li.icon.icon-react React
    li.icon.icon-angular Angular JS
    li.icon.icon-javascript Jaws JS
    li.icon.icon-cordova Cordova / Phonegap
    li.icon.icon-atom NodeWebkit / Electron
    li.icon.icon-wordpress WordPress
  ul.skills-list.col-4.col-md-6.col-sm-12
    li.icon.icon-arch Linux (Arch, Debian, Redhat)
    li.icon.icon-mac Mac OS/X
    li.icon.apache Apache
    li.icon.icon-vagrant LAMP / MAMP / Vagrant
    li.icon.icon-mariadb MySQL / MariaDB
    li.icon.icon-mongodb MongoDB
    li.icon.icon-vim Atom / VIM
  ul.skills-list.col-6.col-sm-12
    li.icon.icon-chrome Chrome / Firefox Dev Tools
    li.icon.icon-gulp Gulp
    li.icon.icon-less Less
    li.icon.icon-npm npm
    li.icon.icon-composer Composer
    li.icon.icon-webpack Webpack
  ul.skills-list.col-6.col-sm-12
    li.icon.icon-googlemaps Google Maps
    li.icon.icon-facebook Facebook
    li.icon.icon-twitter Twitter
    li.icon.icon-foxycart FoxyCart
    li.icon.icon-emma Emma
    li.icon.icon-eventbrite EventBrite
