// - partials/content/work.jade

section#work
  h2 #[span(class="me") me]&period;#[span(class="me-title") work] 
  div.job
    h3.job-company Phase 3
    h4.job-title Full Stack Web Developer
    p.job-dates December 2014 &mdash; Present 
    p.job-location Nashville, Atlanta, Dallas, Charleston, Charlotte
    p.job-description
      | iDesign acquired by Phase 3 Marketing & Communications
  div.job
    h3.job-company iDesign Inc.
    h4.job-title Full Stack Web Developer
    p.job-dates April 2014 &mdash; December 2014 
    p.job-location Nashville
    p.job-description
    ul
      li Develop custom websites and applications
      li Maintain current and legacy projects
  div.job 
    h3.job-company MA2LA 
    h4.job-title Web Developer
    p.job-dates March 2014 &mdash; April 2014 
    p.job-location Nashville
    p.job-description
    ul
      li Develop client websites using wordpress
      li Build custom wordpress functionality and plugins
      li Refactor legacy projects
      li
        ul
          li PHP
          li MySQL
          li jQuery
          li HTML5 / CSS3
          li Wordpress
  div.job 
    h3.job-company Global Alliance For Arts &amp; Health
    h4.job-title Non-Profit
    p.job-dates November 2013 &mdash; December 2013 
    p.job-location Nashville
    p.job-description
      | Consulting for Wordpress, custom script to transfer data from old system to new site 
  div.job 
    h3.job-company The Funky Umbrella
    h4.job-title Web Developer Intern
    p.job-dates May 2012 &mdash; September 2012 
    p.job-location Nashville
    p.job-description
    ul
      li PHP
      li MySQL
      li javascript / jQuery
      li Wordpress
      li RealTracs / RETS
  div.job 
    h3.job-company Square Cook
    h4.job-title Backend Developement / Freelance
    p.job-dates various 2011 &mdash; 2014
    p.job-location Nashville
    p.job-description
      | Consultation, guidance, pair programming, teaching
      | PHP, Javascript, MySQL
 
